/*General*/

.flash{
	animation: flash 1s infinite;
}

@keyframes flash{
	0%{color: black;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: blue;}
	80%{color: pink;}
	100%{color: green;}

}


/*Actual things*/


.designerBox{
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
}

.goLogoBox{
	stroke-dasharray: 800px; 
	stroke-dashoffset: 800px; 
	animation: goLight 2s ease-in-out infinite;
}

@keyframes goLight{
	0%{stroke-dashoffset: 800px;}
	50%{stroke-dashoffset: 0px;}
	100%{stroke-dashoffset: -800px;}
}

.line{
	width: 100px;
	border-bottom: thin solid black;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#designerBox{
	width: 60%;
	margin: auto;
}

.designer{
	width: 32%;
	height: 280px;
	float: left;
	overflow: hidden;
	margin-right: 10px;
	color: black;
	margin-bottom: 10px;
	transition: all .4s;
}

.designer:hover{
	cursor: pointer;
	color: white;
	opacity: .7;
}

