#loadingScreen{
	height: 100vh;
	width: 100vw;
	margin: 0;
	z-index: 2000;
	position: absolute;
	background-color: white;
}

.text{
	font-family: sans-serif;
	font-color: black;
}

.paragraph{
	font-family: serif;
	color: gray;
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
}

.small {
	font-size: 1em;
} 

.medium{
	font-size: 2.5em;
}

.center{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%)
}

.smallTitle{
	font-family: sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	margin-right: auto;
	text-align: center;
	white-space: nowrap;
}

.middle{
	margin-left: auto;
	text-align: center;
}

#topBar{
	padding-top: 20px;
	background: none;
}

#barContainer{
	position: fixed;
	width: 100vw;
	height: 60px;
	padding-left: 10px;
	padding-right: 10px;
	top: -10px;
	left: 0;
	background-color:;
	z-index: 2;
	transition: all .4s;
}

#options{
	position: absolute;
	top: 50%;
	right: 7%;
	transform: translateY(-50%);
	padding-bottom: 10px;
}

.navBar{
	list-style-type: none;
	display: block;
}

.horizontalItem{
	display: block;
	float: right;
	margin-left: 50px;
}

.horizontalItem a{
	text-decoration: none;
	font-weight: bold;
	color: gray;
	transition: all .4s;
	display: block;
}

.horizontalItem a:hover{
	cursor: pointer;
	color: black;
}

.exclamation{
	font-family: sans-serif;
	font-weight: bold;
	color: red;
	font-size: 1em;
	display: block;
	position: absolute;
	transition: top .1s ease-in;
	top: -30%;
	transform: translateY(-35%);
}

.oneColumnSection{
	margin-top: 30px;
	display: block;
	overflow: hidden;
}

.square{
	text-align: center; 
	font-weight: bold; 
	color: black; 
	margin-bottom: 0px; 
	padding: 5px; 
	font-size: 1.75em; 
	margin-left: auto; 
	margin-right: auto;
	font-family: sans-serif;
}

.square:hover{
	font-style: italic;
	cursor: pointer;
}